<h1>Help</h1>
<p>It's so simple, you don't need any :)</p>
<p>Create an account by clicking the big green button (you can't miss it) </p>
<p>Check out other users by clicking on the <em>Users</em> tab in the top right
sidebar.</p>
<p>Only want to see your posts? Then go on the <em>Profile</em> tab. Here you can also find how many posts you have, how many followers and how many users you are following. </p>
<p>Want to change your profile picture? Then go to the <em>Settings</em> tab. Here you can change a bunch of stuff, including you password and user name.</p>
<h2>Have Fun!</h2>
